* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: comic sans ms;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile_info img {
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: right;
}

.profile_info  {
  float: right;
}

header {
    background-color: #414141;
    color: #ffffff;
    padding: 0px 0;
    min-height: 60px;
    border-bottom: #0c0c0c 10px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header li {
    display: inline;
    padding: 0px 20px;
}

header nav {
    float: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

#imgid {
    float: right;
    height: 85%;
    width: auto;
    margin-right: 100px;
    margin-bottom: 10px;
}   

 .content  {
    float: left;
} 

.content ul {
    margin-left: 50px;
}

.content h2 {
    margin-left: 10px;
}

.content p {
    margin-left: 10px;
}

input[type = "text"]{
    font-size: 20;
    border-radius: 24px;
}

select#user_type{
  border-radius: 24px;
}

#right{
  float:right;
}

#left{
  float:left;
}


#box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #eeeeee;
  text-align: center;
}

.button1 {
    font-family: comic sans ms;
    border: 2px solid darkviolet;
    border-radius: 4px;
    color: darkviolet;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button1:hover {
    background-color: darkviolet;
    color: white;
  }
  
  .button2 {
    font-family: comic sans ms;
    border: 2px solid crimson;
    border-radius: 4px;
    color: crimson;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button2:hover {
    background-color: crimson;
    color: white;
  }
  
  .button3 {
    font-family: comic sans ms;
    border: 2px solid gold;
    border-radius: 4px;
    color: gold;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button3:hover {
    background-color: gold;
    color: white;
  }
  
  .button4 {
    font-family: comic sans ms;
    border: 2px solid #f88379;
    border-radius: 4px;
    color: #f88379;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button4:hover {
    background-color: #f88379;
    color: white;
  }
  
  .button5 {
    font-family: comic sans ms;
    border: 2px solid #FBEA74;
    border-radius: 4px;
    color: #FBEA74;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button5:hover {
    background-color: #FBEA74;
    color: white;
  }
  
  .button6 {
    font-family: comic sans ms;
    border: 2px solid #39ff14;
    border-radius: 4px;
    color: #39ff14;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button6:hover {
    background-color: #39ff14;
    color: white;
  }
  
  .button7 {
    font-family: comic sans ms;
    border: 2px solid #cc0000;
    border-radius: 4px;
    color: #cc0000;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button7:hover {
    background-color: #cc0000;
    color: white;
  }
  
  .button8 {
    font-family: comic sans ms;
    border: 2px solid blue;
    border-radius: 4px;
    color: blue;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button8:hover {
    background-color: blue;
    color: white;
  }
  
  .button9 {
    font-family: comic sans ms;
    border: 2px solid #e45252;
    border-radius: 4px;
    color: #e45252;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button9:hover {
    background-color: #e45252;
    color: white;
  }
  
  .button10 {
    font-family: comic sans ms;
    border: 2px solid red;
    border-radius: 4px;
    color: red;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button10:hover {
    background-color: red;
    color: white;
  }
  
  .button11 {
    font-family: comic sans ms;
    border: 2px solid #f5eb44;
    border-radius: 4px;
    color: #f5eb44;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button11:hover {
    background-color: #f5eb44;
    color: white;
  }
  
  .button12 {
    font-family: comic sans ms;
    border: 2px solid #8b0000;
    border-radius: 4px;
    color: #8b0000;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button12:hover {
    background-color: #8b0000;
    color: white;
  }
  
  .button13 {
    font-family: comic sans ms;
    border: 2px solid #bfff00;
    border-radius: 4px;
    color: #bfff00;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button13:hover {
    background-color: #bfff00;
    color: white;
  }
  
  .button14 {
    font-family: comic sans ms;
    border: 2px solid #00f6ff;
    border-radius: 4px;
    color: #00f6ff;
    background-color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
      -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
  }
  .button14:hover {
    background-color: #00f6ff;
    color: white;
  }

  .hide {
      display:none;
  }

  .show {
      display:block;
  }